# Introduction to Python

Python is a high-level, dynamically typed programming language

It is important to understand the basis of python and object oriented programming in this course

Extra learning materials

https://www.youtube.com/watch?v=eWRfhZUzrAc&list=PLWKjhJtqVAbnqBxcdjVGgT3uVR10bzTEB

https://www.tutorialspoint.com/python/index.htm

## Variables and Data Types
variable is a memory location where you store values

Data type represents a type of the data which you can process using your computer program
1. Numeric
2. Boolean
3. String
4. List
5. Dictionary
6. Tupple
7. Sets

In [1]:
num1 = 10
num2 = -15

print(num1)
print(num2)

10
-15

In [2]:
bol1 = True
bol2 = False

print(bol1)
print(bol2)

True
False

In [3]:
str1 = "Hello world!"
str2 = "0123"

print(str1)
print(str2)

Hello world!
0123

In [4]:
list1 = [1, 2, 3, 4, 5]
list2 = ["apple", "mango", "grapes"]

print(list1)
print(list2)

[1, 2, 3, 4, 5]
['apple', 'mango', 'grapes']

In [5]:
dict1 = {
    "name": "john",
    "course": "Intro to Python",
    "programming language": "Python",
    "experience": 4,
    "hobbies": ["cooking", "sports"]
}
print(dict1)

{'name': 'john', 'course': 'Intro to Python', 'programming language': 'Python', 'experience': 4, 'hobbies': ['cooking', 'sports']}

In [6]:
tup = ("Mon", "Tue", "Wed", "Thur", "Fri", "Sat", "Sun")
print(tup)

('Mon', 'Tue', 'Wed', 'Thur', 'Fri', 'Sat', 'Sun')

### Assignment

Create one of each data types and print as show above in the various examples

In [7]:
# your assignment here, you can create as many cell as you need

## Operators and Decision making

Operators and the mathematical operation such as
1. Addition +
2. Subtraction - 
3. Multiplication x
4. Division / 
5. Modulus % : remainder after division
6. Exponent ** : raised to the power of
7. Floor division : division without decimal or remainder

Decision making is anticipation of conditions occurring while execution of the program and specifying actions taken according to the conditions.

In [8]:
num1 = 10
num2 = 12

add1 = num1 + num2
print(add1)

22

In [9]:
sub1 = num1 - num2
print(sub1)

-2

In [10]:
mul1 = num1 * 2
print(mul1)

20

In [11]:
div1 = num2 / 10
print(div1)

1.2

In [12]:
num2 % 5

2

In [13]:
10 ** 2

100

In [14]:
5 // 2

2

#### Decision making
Python use indentation to indicate a block of code

In [15]:
# statement is true
var = 100
if var == 100:
    print("variable equals one hundred")
print("Done, Bye!")

variable equals one hundred
Done, Bye!

In [16]:
# statement is false
if var < 100:
    print("variable less than one hundred")
print("Done, Bye!")

Done, Bye!

In [17]:
# statement is true
if var != 200:
    print("variable is not equal to two hundred")

variable is not equal to two hundred

#### Assignement
use the greater than sign > , less than or equal <= and greater or equal >= to create and if statement block

### Loops
you can loop trough a list, tuple, range and also loop while a condition is true

In [18]:
numbers = [1, 5, 17, 20, 22, 24]
for num in numbers:
    # do something
    print(num * 2)

2
10
34
40
44
48

In [19]:
for i in range(12):
    print(i, i * 5)

0 0
1 5
2 10
3 15
4 20
5 25
6 30
7 35
8 40
9 45
10 50
11 55

In [20]:
start_number = 10
while start_number > 0:
    print("coundown", start_number)
    start_number -= 1
print("Done")

coundown 10
coundown 9
coundown 8
coundown 7
coundown 6
coundown 5
coundown 4
coundown 3
coundown 2
coundown 1
Done

#### Assignment
1. create a list of your favorite foods and loop through it
2. using while loop create a multiplication of 11 for 1 - 100

### List, tuple and dictionary

In [21]:
list_of_fruits = [
    "apple",
    "mango",
    "bannana",
    "grapes",
]

In [23]:
# accessing items in a list
print(list_of_fruits[0])
print(list_of_fruits[2])
print(list_of_fruits[-3])

apple
bannana
mango

In [26]:
# adding a new item to a list
list_of_fruits.append("orange")
print(list_of_fruits)

['apple', 'mango', 'bannana', 'grapes', 'orange']

In [27]:
# removing last item from a list
print(list_of_fruits)
list_of_fruits.pop()
list_of_fruits

['apple', 'mango', 'bannana', 'grapes', 'orange']

['apple', 'mango', 'bannana', 'grapes']

In [28]:
# removing item from a list at a particular index
print(list_of_fruits)
list_of_fruits.pop(2)
list_of_fruits

['apple', 'mango', 'bannana', 'grapes']

['apple', 'mango', 'grapes']

In [29]:
# adding a new item to a list at a particular index
print(list_of_fruits)
list_of_fruits.insert(1, "kiwi")
list_of_fruits

['apple', 'mango', 'grapes']

['apple', 'kiwi', 'mango', 'grapes']

In [32]:
# change item in a list
print(list_of_fruits)
list_of_fruits[1] = "banana"
list_of_fruits

['apple', 'kiwi', 'mango', 'grapes']

['apple', 'banana', 'mango', 'grapes']

In [31]:
# length of list
len(list_of_fruits)

4

#### Assignment
create a list and carry out the list operations mentioned above

In [30]:
# Tuple
days_of_the_week = ("Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturaday", "Sunday")

#### Assignment
carry out the list operations mentioned above to the tuple days_of_the_week and observe the failed cases

In [35]:
# dictionary: key-value pair
person = {
    "name": "John",
    "age": 30,
    "gender": "Male",
    "height": 180.0,
    "weight": 75.5,
    "eye_color": "Brown",
    "hair_color": "Black",
    "skin_color": "Fair",
    "occupation": "Software Developer"
}

In [36]:
# geting item in a dict
print(person["name"])
print(person["gender"])
print(person["occupation"])

John
Male
Software Developer

In [37]:
# adding new key value pair
print(person)
person["location"] = "San Fransisco"
person

{'name': 'John', 'age': 30, 'gender': 'Male', 'height': 180.0, 'weight': 75.5, 'eye_color': 'Brown', 'hair_color': 'Black', 'skin_color': 'Fair', 'occupation': 'Software Developer'}

{'name': 'John',
 'age': 30,
 'gender': 'Male',
 'height': 180.0,
 'weight': 75.5,
 'eye_color': 'Brown',
 'hair_color': 'Black',
 'skin_color': 'Fair',
 'occupation': 'Software Developer',
 'location': 'San Fransisco'}

In [38]:
# removing item from a dict
print(person)
del person["weight"]
person

{'name': 'John', 'age': 30, 'gender': 'Male', 'height': 180.0, 'weight': 75.5, 'eye_color': 'Brown', 'hair_color': 'Black', 'skin_color': 'Fair', 'occupation': 'Software Developer', 'location': 'San Fransisco'}

{'name': 'John',
 'age': 30,
 'gender': 'Male',
 'height': 180.0,
 'eye_color': 'Brown',
 'hair_color': 'Black',
 'skin_color': 'Fair',
 'occupation': 'Software Developer',
 'location': 'San Fransisco'}

In [39]:
# updating an item in a dict
print(person)
person["eye_color"] = "Black"
person

{'name': 'John', 'age': 30, 'gender': 'Male', 'height': 180.0, 'eye_color': 'Brown', 'hair_color': 'Black', 'skin_color': 'Fair', 'occupation': 'Software Developer', 'location': 'San Fransisco'}

{'name': 'John',
 'age': 30,
 'gender': 'Male',
 'height': 180.0,
 'eye_color': 'Black',
 'hair_color': 'Black',
 'skin_color': 'Fair',
 'occupation': 'Software Developer',
 'location': 'San Fransisco'}

In [40]:
# getting an item that might not be there
person["sex"]

KeyError: 'sex'

In [42]:
print(person.get("sex"))

None

### Functions

A function is a block of organized, reusable code that is used to perform a single, related action. Functions provide better modularity for your application and a high degree of code reusing.

In [43]:
def welcome_text(name):
    welcome = f"welcome to Python refresher course {name}"
    return welcome

welcome_john = welcome_text("John")
print(welcome_john)
welcome_mike = welcome_text("Mike")
print(welcome_mike)

welcome to Python refresher course John
welcome to Python refresher course Mike

In [46]:
def mean(arr):
    sum_ = 0
    for num in arr:
        sum_ += num
    num_count = len(arr)
    return sum_ / num_count

In [47]:
mean([1,2,3,4,5])

3.0

In [48]:
mean([45,60,12,4,1])

24.4

#### Assignment

create a function that calculates a standard deviation of a list
hint: use the mean function created above

### Object Oriented Programming

**Overview of OOP Terminology

**Class** − A user-defined prototype for an object that defines a set of attributes that characterize any object of the class. The attributes are data members (class variables and instance variables) and methods, accessed via dot notation.

**Class variable** − A variable that is shared by all instances of a class. Class variables are defined within a class but outside any of the class's methods. Class variables are not used as frequently as instance variables are.

**Data member** − A class variable or instance variable that holds data associated with a class and its objects.

**Inheritance** − The transfer of the characteristics of a class to other classes that are derived from it.

**Instance** − An individual object of a certain class. An object obj that belongs to a class Circle, for example, is an instance of the class Circle.

**Instantiation** − The creation of an instance of a class.

**Method** − A special kind of function that is defined in a class definition.

**Object** − A unique instance of a data structure that's defined by its class. An object comprises both data members (class variables and instance variables) and methods.

In [56]:
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age
        self.hair_color = ""
        self.gender = ""
        self.height = ""
        self.eye_color = ""
        
    def print_person_info(self):
        print("name", self.name)
        print("age", self.age)
        if self.hair_color:
            print("hair color", self.hair_color)
        if self.gender:
            print("gender", self.gender)
        if self.height:
            print("height", self.height)
        if self.eye_color:
            print("eye color", self.eye_color)
            
    def change_name(self, new_name):
        old_name = self.name
        self.name = new_name
        print(f"name changed from {old_name} to {new_name}")
        
    def change_age(self, new_age):
        old_age = self.age
        self.age = new_age
        
    def change_height(self, height):
        self.height = height
        
    # TODO: complete for the rest of properties

In [57]:
# object of the class
john = Person("John", 20)

In [54]:
# instance variable or atribute of class
print(john.name)
print(john.age)
print("height", john.height)

John
20
height

In [58]:
# accessing class method
john.print_person_info()

name John
age 20

In [59]:
john.change_name("John Doe")

name changed from John to John Doe

In [60]:
john.print_person_info()

name John Doe
age 20

In [76]:
# Inhenritance
class SoftwareEngineer(Person):
    
    def __init__(self, name, age, occupation, skills):
        super(SoftwareEngineer, self).__init__(name, age)
        self.occupation = occupation
        self.skills = skills
        
    def add_skill(self, skill):
        self.skills.append(skill)
        
    def remove_skill(self, skill):
        self.skills.remove(skill)

In [77]:
swe = SoftwareEngineer("Abel", 22, "frontend engineer", ["react", "javascript"])

In [78]:
swe.skills

['react', 'javascript']

In [79]:
swe.add_skill("HTML")
swe.skills

['react', 'javascript', 'HTML']

In [80]:
swe.remove_skill("react")
swe.skills

['javascript', 'HTML']